div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  opacity: 0.8;
  z-index: 1;
  position: fixed;
  width: 100%;
}
div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}
div.scrollmenu a:hover {
  background-color: #777;
}
#home {
	background: url("images/plane_sky.JPG") no-repeat fixed center;
  	background-size: cover;
 	height: 100vh;
 	width: 100vw;
}
#home h1 {
	font-size: 50px;
	font-weight: bolder;
	position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h2 {
	font-size: 35px;
}
.center {
	text-align: center;
}
.white {
	color: white;
}
.mono {
	font-family: "Lucida Console", Monaco, monospace;
}

li {
	display: inline;
}
li a {
	padding-right: 70px;
}
i {
	font-size: 30px;
	color:black;
}

i:link, i:visited {
	color: black;
}
i:hover, i:active {
	color: darkgray;
}
