.home {
	background: url("images/plane_sky.JPG") no-repeat fixed center;
  	background-size: cover;
  	height: 100vh;
 	width: 100vw;
}
.box {
	margin: auto;
	width: 30%;
	text-align: center;
	background: rgba(0, 0, 0, 0.4);
	padding: 30px 60px 80px;
}
.white {
	color: white;
}
.mono {
	font-family: "Lucida Console", Monaco, monospace;
}

li {
	display: inline;
}
li a {
	padding: 0px 80px;
}
i {
	font-size: 30px;
}